body{
    background-color: #2d4b73;
    color: white;
    font-family: 'Karla', sans-serif;
}
#card-btn{
    background-color:blueviolet;
    border: none;
    padding: 8px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
    margin: 5px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:12px;
}

#name{
    height: 25px;
    padding: 5px;
}

#btn-main{
    padding: 10px 30px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

.profile{
    background-color: blueviolet;
    border-radius: 5px;
    border: solid cornflowerblue 1px;
    text-align: center;
    padding: 20px;
    width: 250px;
}
